<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
        <!-- 
			Tiling type of windows of each monitor 
			1: like Bug.n( top of windows is left, others are right )
			2: four divided
			4: maximize every window
			8: like mdi
			16: concentration( top of windows is maximize, others are right-bottom position)
		-->
		<add key="Window_WindowManager0_WindowTilingType" value="1"/>
        <add key="Window_WindowManager1_WindowTilingType" value="1"/>
        <add key="Window_WindowManager2_WindowTilingType" value="1"/>

		<!--
			Setting of each Tiling type
		-->
		<!--
			For mode of Bugn(Tiling type=1)
			percentOfLeftColumn: Width (percent of monitor size) of left column
			maxCountOfWindowOfRightColumn: Max count of right windows. 
		-->
		<add key="Window_WindowTilerBugn_percentOfLeftColumn" value="0.65"/>
		<add key="Window_WindowTilerBugn_maxCountOfWindowOfRightColumn" value="4"/>

		<!--
			For mode of Four divided(Tiling type=2) has no configuration
		-->

		<!--
			For mode of Maximize(Tiling type=4) has no configuration
		-->

		<!--
			For mode of Mdi(Tiling type=8)
			percentOfWidthOfWindow: Width (percent of monitor size) of each windows
			percentOfHeightOfWindow: Height ( percent of monitor size) of each windows
			shiftWidthToNextWindow: Margin right next to window.
			shiftHeightToNextWindow: Margin bottom next to window
			marginLeftToMonitor: All windows leave from monitor left at least this point
			marginTopToMonitor: All windows leave from monitor top at least this point
			marginRightToMonitor: All windows leave from monitor right at least this point
			marginBottomToMonitor: All windows leave from monitor bottom at least this point
		-->
		<add key="Window_WindowTilerMdi_percentOfWidthOfWindow" value="0.6"/>
		<add key="Window_WindowTilerMdi_percentOfHeightOfWindow" value="0.6"/>
		<add key="Window_WindowTilerMdi_shiftWidthToNextWindow" value="50"/>
		<add key="Window_WindowTilerMdi_shiftHeightToNextWindow" value="50"/>
		<add key="Window_WindowTilerMdi_marginLeftToMonitor" value="20"/>
		<add key="Window_WindowTilerMdi_marginTopToMonitor" value="20"/>
		<add key="Window_WindowTilerMdi_marginRightToMonitor" value="20"/>
		<add key="Window_WindowTilerMdi_marginBottomToMonitor" value="20"/>

		<!--
			For mode of Concentration(Tiling type=16)
			percentOfWidthOfSubWindow: Width(percent of monitor size) of sub windows which is right-bottom position.
			percentOfHeightOfSubWindow: Height(percent of monitor size) of sub windows which is right-bottom position.
			marginRightOfSubWindow: Margin right of sub windows which is right-bottom position.
			marginBottomOfSubWindow: Margin bottom of sub windows which is right-bottom position.
		-->
		<add key="Window_WindowTilerConcentration_percentOfWidthOfSubWindow" value="0.45"/>
		<add key="Window_WindowTilerConcentration_percentOfHeightOfSubWindow" value="0.85"/>
		<add key="Window_WindowTilerConcentration_marginRightOfSubWindow" value="50"/>
		<add key="Window_WindowTilerConcentration_marginBottomOfSubWindow" value="50"/>
		
		<!--
			Deny exe file path is not tiled.
		-->
		<add key="Window_TraceWindow_Deny_ExePath_0" value="KeePass.exe"/>
		<add key="Window_TraceWindow_Deny_ExePath_1" value="cmd.exe"/>
		<add key="Window_TraceWindow_Deny_ExePath_2" value="ShareX.exe"/>

	</appSettings>
</configuration>