<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="windows10windowManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="windows10windowManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <windows10windowManager.Properties.Settings>
            <setting name="Window_WindowManager0_WindowTilingType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Window_WindowManager1_WindowTilingType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Window_WindowManager2_WindowTilingType" serializeAs="String">
                <value>1</value>
            </setting>
        </windows10windowManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <windows10windowManager.Properties.Settings>
            <setting name="Window_WindowTilerBugn_percentOfLeftColumn" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="Window_WindowTilerBugn_maxCountOfWindowOfRightColumn"
                serializeAs="String">
                <value>4</value>
            </setting>
        </windows10windowManager.Properties.Settings>
    </applicationSettings>
</configuration>