<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
        <add key="Window_WindowManager0_WindowTilingType" value="1"/>
        <add key="Window_WindowManager1_WindowTilingType" value="1"/>
        <add key="Window_WindowManager2_WindowTilingType" value="1"/>
		<add key="Window_TraceWindow_Deny_ExePath_0" value="KeePass.exe"/>
		<add key="Window_TraceWindow_Deny_ExePath_1" value="cmd.exe"/>
	</appSettings>
</configuration>